<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Kitchen Manager</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <h1>Welcome to Your Kitchen App</h1>
  
  <a href="{{ url_for('add_recipe') }}">Add New Recipe</a>

  <h2>Recipes:</h2>
{% if recipes %}
<div class="flex-container">
    {% for recipe in recipes %}
    <div class="card">
      <h3>{{ recipe.title }}</h3>
      {% if recipe.ingredient %}
        <p><strong>Main Ingredient:</strong> {{ recipe.ingredient.name }}</p>
      {% endif %}
      <p><strong>Instructions:</strong> {{ recipe.instructions }}</p>
    </div>
    {% endfor %}
</div>
{% else %}
    <p>No recipes yet. Add one!</p>
{% endif %}
  
</body>
</html>
